*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #282828;
    margin: 0px;
    padding: 0px;
}

ul{
padding-left: 0px;
}

body{
    display: block;
    overflow-x: hidden;
}

.wrap {
    width: 75vw;
    margin: 0px auto;
    padding: 40px;
}

.logo{
    padding: 50px;
    display: grid;
    justify-content: center;
}

.logo img {
    max-height: 100px;
}

.my-name {
    padding-bottom: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: 800;
    letter-spacing: 3px;
    color: antiquewhite;
}

hr{
    border-color: #c2dc00;
}

.my-rol {
    padding: 10px;
    text-align: center;
    font-family: monospace;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 3px;
    color: antiquewhite;
}

.nav-bar{
    padding: 2rem;
}

.nav-bar ul{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-align: center;
    gap: 2rem;
}

.nav-bar a{
    text-decoration: none;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    letter-spacing: 1px;
    margin: 0 auto;
    color: antiquewhite;
    transition: all 300ms;
}

.nav-bar li:hover a{
    color: #c2dc00;
    text-decoration: underline;
    text-underline-offset: 3px;
}

@media (width<600px){
    .nav-bar ul{
        flex-direction: column;
    }
}

/* ------- Toni's work beggins here ---------*/

.bento-container{
    display: grid;
    align-items: center;
    justify-content:center;
    grid-template-columns: repeat(
        auto-fill,
        minmax(300px, 1fr)
    ) ;
    max-width: 70vw;
    margin: 0 auto;
    gap: 16px;
}

.bento-container h2, p{
    padding: 10px;
    color: #fff;
    background-color:unset;
}


.item{
    margin: 0 auto;
    width: 300px;
    height: 300px;
    box-shadow: 2px 2px 4px #000;
    border-radius: 10%;
    box-sizing: border-box;
    object-fit:cover;
}    

.item:first-child{
    padding: 25px;
    text-align: center;
    color: antiquewhite;
    background:#b68f02
}

@media (min-width:1000px){

    .item:nth-child(2){
        grid-column: 2/4;
        grid-row:1/3;
        width: 620px;
        height: 620px;
    }

}