*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #282828;
}

ul{
padding-left: 0px;
}

body{
    margin: 0px;
    padding: 0px;
}

.wrap {
    width: 75vw;
    margin: 0px auto;
}

.logo{
    padding: 20px;
    display: grid;
    justify-content: center;
}

.logo img {
    height: 150px;
}

.my-name {
    text-align: center;
    font-size: 24px;
    font-weight: 800;
    letter-spacing: 3px;
    color: antiquewhite;
}

hr{
    border-color: #c2dc00;
}

.my-rol {
    text-align: center;
    font-family: monospace;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 3px;
    color: antiquewhite;
}

.nav-bar{
    padding: 2rem;
}

.nav-bar ul{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-align: center;
    gap: 2rem;
    text-align: center;
}

.nav-bar a{
    text-decoration: none;
        text-align: center;
    font-family: monospace;
    font-weight: 100;
    letter-spacing: 1px;
    margin: 0 auto;
    color: antiquewhite;
    transition: all 300ms;
}

.nav-bar li:hover a{
    color: #c2dc00;
    text-decoration: underline;
    text-underline-offset: 3px;
}


/* ------- Toni's work beggins here ---------*/

.bento-container{
    display: grid;
    align-items: center;
    justify-content:center;
    grid-template-columns: repeat(
        auto-fill,
        minmax(300px, 1fr)
    ) ;
    max-width: 70vw;
    margin: 0 auto;
    gap: 16px;
}

.bento-container h2, p{
    color: #fff;
    background-color:unset;
}

.item:first-child{
    padding: 25px;
    text-align: center;
    color: antiquewhite;
    background: linear-gradient(9deg, rgba(0,0,0,1) 0%, rgba(94,93,93,1) 21%, rgba(143,143,143,1) 49%, rgba(150,150,150,1) 75%, rgba(98,98,98,1) 100%);
}

.item:nth-child(2){
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    width: 620px;
    height: 620px;
}

.item{
    margin: 0 auto;
    width: 300px;
    height: 300px;
    box-shadow: 2px 2px 4px #000;
    border-radius: 10%;
    box-sizing: border-box;
    object-fit:cover;
}


