*{
    font-family: 'Roboto Mono', monospace;
    margin: 0px;
    padding: 0px;
}

ul{
padding-left: 0px;
}

html{
    height: 100vw;
}

body{
    display: block;
    overflow-x: hidden;
    background-image: url(/img/background.png);
}

.wrap {
    width: 90vw;
    margin: 0px auto;
    padding: 40px;
}

.logo{
    padding: 20px;
    display: grid;
    place-items: center;
}

.logo img {
    max-height: 150px;
}

.my-name {
    margin: 0px auto;
    text-align: center;
    font-size: 24px;
    font-weight: 800;
    letter-spacing: 3px;
    color: #003D72;
}

hr{
    border:3px solid #015e91;
}

.my-rol {
    padding-top: 10px;
    padding-bottom: 30px;
    text-align: center;
    font-family: monospace;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 3px;
    color: #003D72;
}

.nav-bar{
    padding: 1.5rem;
    background: linear-gradient(20deg, rgb(0, 180, 216) 0%, rgb(10, 81, 131) 50%, rgb(1, 94, 145) 100%);
    background-size: 150% 100%;
    box-shadow: 0px 2px 4px #a3a3a3 ;
}

.nav-bar ul{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-align: center;
    gap: 2rem;
}

.nav-bar a{
    text-decoration: none;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    letter-spacing: 1px;
    margin: 0 auto;
    color: rgb(255, 255, 255);
    transition: color 300ms;
}

.nav-bar li:hover a{
    color: #ffd4f3;
    text-decoration: underline;
    text-underline-offset: 3px;
}

@media (width<600px){
    .nav-bar ul{
        flex-direction: column;
    }
}



/* ------- Toni's work beggins here ---------*/

/*-Motion Vids---------------------------------------------------------*/

.motion h2{
    padding: 40px;
    font-size: 64px;
    font-weight: 700;
    line-height: 60px; 
    color:#ffffff;
    background: linear-gradient(50deg, rgb(155, 0, 216) 0%, rgb(131, 10, 131) 50%, rgb(104, 1, 145) 100%);
    background-size: 150%;
}

.motion p {
    margin: 0 auto;
    padding-left: 30px;
}


.motion-container{
    display: grid;
    padding-top: 30px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    place-items: center;
    justify-content: center;
    grid-template-columns: repeat(
        auto-fill,
        minmax(480px, 1fr)
    );
    gap: 1rem;
}

.motion-item > img{
    border: 2px solid  rgb(0, 53, 81);
}

.motion-item p{
    color: #003D72;
}

.motion-item h3{
    padding: 10px;
    color: #fff;
    font-weight: 100;
    background: linear-gradient(50deg, rgb(7, 105, 175) 0%, rgb(0, 53, 81) 90%);

}

/*
.motion-item:first-child h2{
    padding-left: 10px;
}

.motion-item:first-child{
    border: 2px solid #1a1a1a;
    padding: 5px;
    text-align:left;
    color: #003D72;
    width: 460px;
    align-items: flex-start;
    place-items: left;
    justify-content: left;
}
*/

/*Brand Design ----------------------------------------------*/
#brand-presentation{
    display: grid;
}

.brand h2{
    padding: 40px;
    font-size: 64px;
    font-weight: 700;
    line-height: 60px; 
    color:#ffffff;
    background: linear-gradient(50deg, rgb(155, 0, 216) 0%, rgb(131, 10, 131) 50%, rgb(104, 1, 145) 100%);
    background-size: 150%;
}

.brand p {
    margin: 0 auto;
    padding-left: 30px;
}



/*  Art -----------------------------------------------------*/

.illustrations h2{
    padding: 40px;
    font-size: 64px;
    font-weight: 700;
    line-height: 60px; 
    color:#ffffff;
    background: linear-gradient(50deg, rgb(155, 0, 216) 0%, rgb(131, 10, 131) 50%, rgb(104, 1, 145) 100%);
    background-size: 150%;
}

.illustrations p {
    margin: 0 auto;
    padding-left: 30px;
}

.art-container{
    display: grid;
    padding-top: 50px;
    padding-bottom: 50px;
    align-items: center;
    justify-content:center;
    grid-template-columns: repeat(
        auto-fill,
        minmax(300px, 1fr)
    ) ;
    max-width: 90vw;
    margin: 0 auto;
    gap: 16px;
}

.art-container h2, p{
    padding: 10px;
    color: #015e91;
}


.art-item{
    margin: 0 auto;
    width: 300px;
    height: 300px;
    box-shadow: 0px 0px 0px #0f0f0d;
    box-sizing: border-box;
    object-fit:cover;
    transition: transform 300ms;

}    

.art-item:hover{
    transform: translateY(-3px);
    box-shadow: 3px 3px 5px #e7e7e7; ;
}

/*This media does the reZilla image bigger in big devices*/
@media (min-width:1000px){

    .art-item:nth-child(1){
        grid-column: 2/4;
        grid-row:1/3;
        width: 620px;
        height: 620px;
    }

}

/* This media adapts motion videos at small screens*/
@media (width<515px){

    .logo img{
        max-height: 100px;
    }

    .my-name{
        place-items: center;
        text-align: center;
        width: 80vw;
    }

    .motion-container{
        grid-template-columns: auto;
    }

    .motion-item > img {
        margin: 0 auto;
        width: 80vw;
    }

    .motion-item:first-child{
        width: auto;
    }

    .illustrations h2{
        font-size: 32px;
    }

    .motion-item h3{
        font-size: 12px;
    }
}


/* Footer */

