*{
    font-family: 'Roboto Mono', monospace;
    margin: 0px;
    padding: 0px;
}

ul{
padding-left: 0px;
}

body{
    display: block;
    overflow-x: hidden;
    background-color: #282828;
}

.wrap {
    width: 90vw;
    margin: 0px auto;
    padding: 40px;
}

.logo{

    padding: 30px;
    display: grid;
    place-items: center;
}

.logo img {

    max-height: 100px;
}

.my-name {
    margin: 0 auto;
    padding-bottom: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: 800;
    letter-spacing: 3px;
    color: antiquewhite;
}

hr{
    border-color: #c2dc00;
}

.my-rol {
    padding: 20px;
    text-align: center;
    font-family: monospace;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 3px;
    color: antiquewhite;
}

.nav-bar{
    padding: 2rem;
    background-color: #1c1c1c;
    box-shadow: 0px 2px ;
}

.nav-bar ul{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-align: center;
    gap: 2rem;
}

.nav-bar a{
    text-decoration: none;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    letter-spacing: 1px;
    margin: 0 auto;
    color: antiquewhite;
    transition: color 300ms;
}

.nav-bar li:hover a{
    color: #c2dc00;
    text-decoration: underline;
    text-underline-offset: 3px;
}

@media (width<600px){
    .nav-bar ul{
        flex-direction: column;
    }
}



/* ------- Toni's work beggins here ---------*/

/*Motion Vids*/

.motion-container{
    display: grid;
    padding-top: 30px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    place-items: center;
    justify-content: center;
    grid-template-columns: repeat(
        auto-fill,
        minmax(480px, 1fr)
    );
    gap: 1rem;
    background-color: #707f00;
}


.motion-item h3{
    padding: 10px;
    color: #fff;
    font-weight: 100;
    background-color: #0f0f0d;
}

.motion-item:first-child h2{
    padding-left: 10px;
}

.motion-item:first-child{
    border: 2px solid #c2dc00;
    padding: 5px;
    text-align:left;
    color: #fff;
    width: 460px;
    align-items: flex-start;
    place-items: left;
    justify-content: left;
}

@media (width<515px){

    .my-name{
        place-items: center;
        text-align: center;
        width: 80vw;
    }

    .motion-container{
        grid-template-columns: auto;
    }

    .motion-item > img {
        margin: 0 auto;
        width: 80vw;
    }

    .motion-item:first-child{
        width: auto;
    }

    .motion-item h3{
        font-size: 12px;
    }
}


/* ------- Art ------------------------------*/

.art-container{
    display: grid;
    padding-top: 50px;
    padding-bottom: 50px;
    align-items: center;
    justify-content:center;
    grid-template-columns: repeat(
        auto-fill,
        minmax(300px, 1fr)
    ) ;
    max-width: 90vw;
    margin: 0 auto;
    gap: 16px;
}

.art-container h2, p{
    padding: 10px;
    color: #fff;
}


.art-item{
    margin: 0 auto;
    width: 300px;
    height: 300px;
    box-shadow: 0px 0px 0px #0f0f0d;

    box-sizing: border-box;
    object-fit:cover;
    transition: transform 300ms;

}    

.art-item:hover{
    transform: translateY(-3px);
    box-shadow: 3px 3px 10px #0f0f0d; ;
}

.art-item:first-child{
    padding: 5px;
    text-align:left;
    color: antiquewhite;
    border: 2px solid #c2dc00;
}

/*This media does the reZilla image bigger in big devices*/
@media (min-width:1000px){

    .art-item:nth-child(2){
        grid-column: 2/4;
        grid-row:1/3;
        width: 620px;
        height: 620px;
    }

}

/* Footer */

